footer.text-center.bg-primary.text-white.py-3
  .footer-above
    .container
      .row
        .footer-col.col-md.my-3
          h3 Location
          p Currently based at the University of Sheffield.
        .footer-col.col-md.my-3
          h3 Contact Me
          +contact-buttons("-outline", "-secondary")
        .footer-col.col-md.my-3
          h3 TL;DR
          p
            | A 
            a.text-white(href="http://github.com/boardfish") computer science student
            |  hoping to make software, success, and a few smiles along the way.
  .footer-below
    .container
      .row
        .col-lg-12
          | Copyright © Simon Fish, simon.fish 2016-2018
          a.btn.btn-secondary.ml-3(href="#header")
            span
              i.fa.fa-fw.fa-chevron-up
              | back to top
// Scroll to Top Button (Only visible on small and extra-small screen sizes)
