header
  section.py-3.bg-primary#header
    .container.text-center.py-3
      .row
        .col-lg-6
          img.img-fluid.rounded-circle(width='400px', src='images/profile.jpg', alt='Image of Simon')
        .col-lg-6
          table.text-center.h-100.w-100
            tbody
              tr
                td.align-middle
                  h1.text-white
                    | Simon Fish
                  h3.text-white 
                    | Computer Science student. 
                    br
                    | Tech evangelist. 
                    br
                    | Explorer.
                  +contact-buttons("", "-secondary", "btn-lg")
