nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary#nav
  a.btn.btn-lg.btn-outline-secondary.h6.mx-sm-auto.ml-lg-3.my-3(href='#header')
    span
      svg(xmlns='http://www.w3.org/2000/svg', height='0.75em', viewBox='0 0 9.26 6.615')
        g(fill='#fff')
          path.logosquare(d='M2.646 2.646h1.323v1.323H2.646z')
          path.logosquare(d='M3.969 2.646h1.323v1.323H3.969z')
          path.logosquare(d='M5.292 2.646h1.323v1.323H5.292z')
          path.logosquare(d='M6.615 2.646h1.323v1.323H6.615z')
          path.logosquare(d='M3.969 1.323h1.323v1.323H3.969z')
          path.logosquare(d='M5.292 1.323h1.323v1.323H5.292z')
          path.logosquare(d='M3.969 3.969h1.323v1.323H3.969z')
          path.logosquare(d='M5.292 3.969h1.323v1.323H5.292z')
          path.logosquare(d='M6.615 1.323h1.323v1.323H6.615z')
          path.logosquare(d='M6.615 3.969h1.323v1.323H6.615z')
          path.logosquare(d='M5.292 0h1.323v1.323H5.292z')
          path.logosquare(d='M5.292 5.292h1.323v1.323H5.292z')
          path.logosquare(d='M7.938 2.646H9.26v1.323H7.938z')
          path.logosquare(d='M2.646 1.323H1.323v1.323h1.323z')
          path.logosquare(d='M1.323 0H0v1.323h1.323z')
          path.logosquare(d='M2.646 3.969H1.323v1.323h1.323z')
          path.logosquare(d='M1.323 5.292H0v1.323h1.323z')
      |    Simon Fish
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.btn.btn-secondary.ml-2(href='#portfolio')
          span
            i.fa.fa-fw.fa-briefcase
            | Portfolio
      li.nav-item
        a.btn.btn-secondary.ml-2(href='#about')
          span
            i.fa.fa-fw.fa-male
            | About
      li.nav-item
        a.btn.btn-secondary.ml-2(href='#testimonials')
          span
            i.fa.fa-fw.fa-commenting
            | Testimonials
      li.nav-item
        a.btn.btn-secondary.ml-2(href='#slides')
          span
            i.fa.fa-fw.fa-male
            | Slides
      li.nav-item
        a.btn.btn-secondary.ml-2(href='#stats')
          span
            i.fa.fa-fw.fa-plus-circle
            | Stats
      li.nav-item
        a.btn.btn-secondary.ml-2(href='#contact')
          span
            i.fa.fa-fw.fa-envelope
            | Contact
      li.nav-item
        a.btn.btn-info.ml-2(href='docs/CurriculumVitae.pdf',target='_blank')
          span
            i.fa.fa-fw.fa-book
            | CV 
            if isHireable
              .badge.badge-pill.badge-secondary.lato Hire me!
