nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary#nav
  a.btn.btn-lg.btn-outline-secondary.h6.mx-auto.ml-lg-3.my-3.w-75(href='#header')
    span Code First: Girls | Sheffield
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item.animated.fadeInDown.mx-auto.my-3
        a.btn.btn-secondary.ml-2(href='#portfolio')
          span
            i.fa.fa-fw.fa-briefcase
            | Portfolio
      li.nav-item.animated.fadeInUp.mx-auto.my-3
        a.btn.btn-secondary.ml-2(href='#about')
          span
            i.fa.fa-fw.fa-male
            | About
      li.nav-item.animated.fadeInDown.mx-auto.my-3
        a.btn.btn-secondary.ml-2(href='#testimonials')
          span
            i.fa.fa-fw.fa-commenting
            | Testimonials
      li.nav-item.animated.fadeInUp.mx-auto.my-3
        a.btn.btn-secondary.ml-2(href='#slides')
          span
            i.fa.fa-fw.fa-male
            | Slides
      li.nav-item.animated.fadeInDown.mx-auto.my-3
        a.btn.btn-secondary.ml-2(href='#stats')
          span
            i.fa.fa-fw.fa-plus-circle
            | Stats
      li.nav-item.animated.fadeInUp.mx-auto.my-3
        a.btn.btn-secondary.ml-2(href='#contact')
          span
            i.fa.fa-fw.fa-envelope
            | Contact
