section.bg-secondary.py-3#portfolio
  .container
    .text-center
      h2 Portfolio
    .container-fluid
      .grid
        .grid-sizer.col-md-4
        for repo in repos
          .grid-item.col-md-4
            +card("", "", repo.name, "fa-female", "date", repo.description, "", [], repo.url, repo.description, "portfolio")
