section.bg-secondary.py-3#portfolio
  .container
    .text-center
      h2 Portfolio
    .card-columns
      for event in portfolio
        // p #{event}
        +card(event.image, event.location, event.name, event.icon, event.date, event.summary, event.projectname, event.technologies, event.link, event.description, "portfolio")
