section.py-3.bg-primary#slides
  .container
    .text-center.text-white
      h2 Slides
    .offset-md-2.col-md-8
      table.text-center.h-100.w-100
        tbody
          tr
            td.align-middle
              p.text-white.text-justify
                | This year, I intend to focus on building my confidence in public speaking. My slides will be accessible here. Thanks to the flexibility of web languages, 
                a.text-white(href='https://github.com/hakimel/reveal.js') reveal.js
                |  is my tool of choice for creating slides.
    if slides.length < 3
      .card-columns
        for pres in slides
          +card(pres.image, pres.location, pres.name, pres.icon, pres.date, pres.summary, pres.projectname, pres.technologies, pres.link, pres.description, "slides")
    else
      .card-deck
        for pres in slides
          +card(pres.image, pres.location, pres.name, pres.icon, pres.date, pres.summary, pres.projectname, pres.technologies, pres.link, pres.description, "slides")
