mixin stat(icon, number, fact)
  li
    i.fa.fa-fw(class=icon)
    | #{number} 
    | #{fact}
section.py-3#stats
  .container
    h2.text-center.pb-3 Stats
    ul.list-unstyled.text-center
      each stat, index in stats
        if index != 0
          hr
        +stat(stat.icon, stat.number, stat.fact)
