section#testimonials.py-3(class="bg-{{ include.background-color }} {{ include.color }}")
  .container
    .text-center
      h2 Testimonials
    .row
      .text-center.col-lg-8.offset-lg-2
        p
          | "Simon has an ability to take a 
          b complex task
          |  (both IT-related and non-IT) and not only turn it around extremely quickly, but also to apply a level of thought and 
          b ingenuity
          |  of someone 
          b a number of years more experienced.
          |  It's this level of 
          b output and creativity
          |  which made the decision to bring Simon back after a few months in his summer holiday extremely easy."
          br
          strong Andy Sykes, formerly of Pera Technology
        .testimonials-buttons
          a.btn.btn-lg.btn-color(target="_blank" href="docs/PeraTechnologyReference.pdf" class="btn-outline-primary")
            span
              i.fa.fa-file
              |  Full reference
        hr
        p
          | Simon's 
          b enthusiasm 
          | towards helping out at the Code First: Girls community courses in Sheffield was so admirable. His ability to communicate 
          b complex technical concepts 
          | to 
          b complete beginners 
          | is an important one to have in our increasingly multi-disciplinary world. 
          br
          | His genuine passion to 
          b help the tech community 
          | mixed in with his 
          b impressive technical knowledge and skills 
          | has made it a pleasure to work with him.
          br
          a(target="_blank" href="https://pawlean.com/")
            strong Pauline Narvas
        .testimonials-buttons
          a.btn.btn-lg.btn-color(target="_blank" href="https://www.linkedin.com/in/boardfish/" class="btn-outline-linkedin")
            span
              i.fa.fa-linkedin-square
              |  Full reference
