doctype html
html(lang="en")
  head
    include head
    // Find SEO plugin!
  body#page-top.index(data-spy="scroll" data-target="#nav" style="padding-top:56px;" data-offset="56")
    include nav
    { content }
    include footer
    include portfolio-modals
    include bootstrap-essentials 
    // include any other js here, but shouldn't be any need
