extends layout

block content
  include components/header
  include components/portfolio
  include components/about
  include components/testimonials
  include components/slides
  include components/stats
  // include components/contact
