doctype html
html(lang="en")
  head
    title= title
    include components/head
    // Find SEO plugin!
  body#page-top.index(data-spy="scroll" 
                      data-target="#nav" 
                      data-offset="56"
                      style="margin-top: 96px;")
    include mixins/card
    include mixins/contact-buttons
    include components/nav
    block content
    include components/footer
    include components/portfolio-modals
    include components/bootstrap-essentials 
