.alert.alert-info.text-center.alert-dismissible.fade.show.my-0(role='alert')
  strong Want a website?
  | Whatever your needs,
  a(href='#contact') let's talk about it!
  a.ml-3.btn.btn-primary.btn-sm(href='#contact') Contact me
  button.btn.btn-danger.btn-sm(type='button', data-dismiss='alert', aria-label='Close')
    i.fa.fa-times-circle
