mixin contact-buttons(outline, color, lg)
  .btn-group.mb-3
    a.btn.btn-color(href="https://github.com/boardfish" target="_blank" class="btn" + outline + color + ' ' + lg)
      span
        i.fa.fa-fw.fa-github
        span.expand-text boardfish
    a.btn.btn-color(href="https://www.linkedin.com/in/boardfish" target="_blank" class="btn" + outline + color + ' ' + lg)
      span
        i.fa.fa-fw.fa-linkedin
        span.expand-text Simon Fish
    a.btn.btn-color(href="mailto:si@mon.fish" target="_blank" class="btn" + outline + color + ' ' + lg)
      span
        i.fa.fa-fw.fa-envelope
        span.expand-text si@mon.fish
    a.btn.btn-color(href="https://twitter.com/boardfish_" target="_blank" class="btn" + outline + color + ' ' + lg)
      span
        i.fa.fa-fw.fa-twitter
        span.expand-text @boardfish_
    a.btn.btn-color(href="https://www.facebook.com/simonfish84" target="_blank" class="btn" + outline + color + ' ' + lg)
      span
        i.fa.fa-fw.fa-facebook
        span.expand-text Simon Fish
