mixin contact-button(outline, color, lg, icon, text, href)
    a.btn.btn-color(href=href target="_blank" class="btn" + outline + color + ' ' + lg)
      span
        i.fa.fa-fw(class=icon)
        span.expand-text=text

mixin contact-buttons(outline, lg)
  .btn-group.mb-3.animated.fadeInRight
    +contact-button(outline, "-github", lg, "fa-github", "shefcodefirstgirls", "https://github.com/orgs/shefcodefirstgirls")
    +contact-button(outline, "-twitter", lg, "fa-twitter", "#shefcodefirst", "https://twitter.com/search?q=%23shefcodefirst")
    +contact-button(outline, "-facebook", lg, "fa-facebook", "CF:G Sheffield Group", "https://www.facebook.com/groups/1438086499595347")
